@model  BPVirtualRun.Models.Usuarios
@{
    ViewBag.Title = "Área Restrita";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                @if (ViewBag.Erro != null)
                {
                    <div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>@ViewBag.Erro</div>
                }
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">ÁREA RESTRITA</h4>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Entrar", "admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="row">
                                <div class="col-md-2">
                                    <span>Login:</span>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="Login" name="Login" />
                                </div>
                            </div>
                            <br clear="all" />
                            <div class="row">
                                <div class="col-md-2">
                                    <span>Senha:</span>
                                </div>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="Senha" name="Senha" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pull-right">
                                    <button type="submit" class="btn btn-default">Entrar</button>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
